.tdhd {
  color: var(--Curious-Blue-900, #0b4d6f);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 75% */
  margin: 0;
  margin-bottom: 15px;
  padding-left: 15px;
}
.underline {
  width: 99px;
  height: 4px;
  background: #0caceb;
  margin-left: 15px;
}
.tdye {
  padding-top: 30px;
  margin: 0 auto;
}
.tcard h3 {
  color: var(--Curious-Blue-950, #07314a);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 75% */
  margin: 5px;
}
.tcard p {
  width: 78px;
  color: var(--Curious-Blue-950, #07314a);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  margin: 5px;
}
.tcard {
  display: flex;
  width: 70%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 23px;
  background:  #e0f3fe;
  box-shadow: 0px 4px 25.1px -3px rgba(7, 49, 74, 0.34);
}
.tcwrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  padding: 10px;
  margin-left: 20px;
  gap: 10px;
}
.tcard img {
  height: 40px;
  align-items: center;
  padding: 10px 10px 0 10px;
}