.loginLogo {
  height: 45px;
  width: auto;
  margin:30px 0 0 20px;
}
.loginDivider{
background: #065C86;
    width: 2px;
height: 323px;
}
.login
{
  display: flex;
  justify-content: space-around;
  gap: 130px;
  align-items: center;
  margin-top: 130px;
}
.txtb h3{
  color: var(#065C86);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 75% */
}
.txtb{
  display: block;
}
.txtb input{
  border-radius: 4px;
border: 1px solid var(--Curious-Blue-950, #07314A);
background: var(--Curious-Blue-100, #E0F3FE);
display: flex;
width: 300px;
padding: 16px 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-bottom: 18px;
}
::placeholder {
  color: var(--Neutral-D_Grey, #4D4D4D);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--Neutral-D_Grey, #4D4D4D);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.txtb button{
  border-radius: 11px;
background: var(--Curious-Blue-950, #07314A);
box-shadow: 0px 4px 8.3px 0px rgba(7, 49, 74, 0.25);
display: inline-flex;
padding: 14px 20px;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--Curious-Blue-50, #F0F9FF);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
}
.loginVector p{
  color: var(--Curious-Blue-950, #07314A);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}