.table-container {
  margin-left: auto;
  margin-right: auto;
  width: 98%; /* Ensure the container takes full width */
  max-width: 100%; /* Prevent it from exceeding the viewport */
  margin-top: 50px;
  border: 1px solid rgba(7, 49, 74, 0.14); /* Outer border */
  border-radius: 10px; /* Adjust this for the desired curve */
  box-shadow: 0 4px 8px rgba(12, 81, 102, 0.1); /* Add drop shadow */
  overflow: hidden; /* Hide overflow to manage scrolling separately */
  display: flex;
  flex-direction: column;
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.printbutton:hover {
  background: var(--Curious-Blue-950, #1f5878) !important;
  color: var(--Curious-Blue-50, rgb(237, 235, 235)) !important;
}

.printbutton {
  margin-top: 20px;
  border-radius: 7px;
  background: var(--Curious-Blue-950, #07314a);
  box-shadow: 0px 4px 8.3px 0px rgba(7, 49, 74, 0.25);
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  color: var(--Curious-Blue-50, #f0f9ff);
  font-family: Poppins;
}

.my-table {
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: separate;
  border-spacing: 0; /* Ensure no gaps between cells */
  table-layout: fixed; /* Ensure columns stay within their defined width */
  
}

