@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
body {
  font-family:  "Anek Devanagari", sans-serif;
  margin: 0;
 background-color: #F0F9FF;
   color: #07314A;
 
}
